  <div id="doorbell"></div>
  <input type="text" placeholder="Type your guess here">
  <div></div>
  <input type="text" placeholder="Type your guess here">
  <div></div>
  <input type="text" placeholder="Type your guess here">
  <button type="submit"><a href="/result">SUBMIT</a></button>

  <script src="/designs/main.js"></script>