  <form action="/result" method="post"><div id="doorbell"></div>
  <input name="answer1" type="text" placeholder="Type your guess here">
  <div id="washing-machine"></div>
  <input name="answer2" type="text" placeholder="Type your guess here">
  <div id="cat"></div>
  <input name="answer3" type="text" placeholder="Type your guess here">
  <input type="submit" value="submit"/>

  <script src="/main.js"></script>
  </form>