  <div id="doorbell"></div>
  <input type="text" placeholder="Type your guess here">
  <div id="washing-machine"></div>
  <input type="text" placeholder="Type your guess here">
  <div id="cat"></div>
  <input type="text" placeholder="Type your guess here">
  <button type="submit"><a href="/result">SUBMIT</a></button>

  <script src="../public/designs/main.js"></script>