  <div></div>
  <input type="text" placeholder="Type your guess here">
  <div></div>
  <input type="text" placeholder="Type your guess here">
  <div></div>
  <input type="text" placeholder="Type your guess here">
  <button type="submit">SUBMIT</button>