
  <div  id="doorbell"></div>
  <span>DOORBELL</span>
  <span>USER ANSWER 1</span>
  <div id="washing-machine"></div>
  <span>WASHING MACHINE</span>
  <span>USER ANSWER 2</span>
  <div id="cat"></div>
  <span>CAT</span>
  <span>USER ANSWER 3</span>
  <p>SCORE:</p>
  <p id="score">0</p>
  