
  <div  id="doorbell"></div>
  <span>CORRECT ANSWER 1</span>
  <span>USER ANSWER 1</span>
  <div id="washing-machine"></div>
  <span>CORRECT ANSWER 2</span>
  <span>USER ANSWER 2</span>
  <div id="cat"></div>
  <span>CORRECT ANSWER 3</span>
  <span>USER ANSWER 3</span>
  <p>SCORE:</p>
  <p id="score">0</p>
  