@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');


body {
    background-color: rgb(26, 25, 25);
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-family: 'Unica One', cursive;
    font-size: 75px;
    color: rgb(204, 203, 203);
}

div {
    background-image: url("images/question-mark.jpg");
    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 2px solid black;
    width: 200px;
    height: 200px
}

input {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    font-size: 20px;
    border-radius: 5px;
}
button, span {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    font-family: 'Unica One', cursive;
    border-radius: 5px;
    background-color: #cccccc;
    font-size: 20px;
    margin-top: 20px;
}
p {
    font-size: 30px;
    font-family: 'Unica One', cursive;
    color: #cccccc;
}

button {
    width: 100px;
}

#doorbell-result {
    background-image: url("images/doorbell.jpg");
}

#washing-machine-result {
    background-image: url("images/washing-machine.jpg");
}

#cat-result {
    background-image: url("images/cat.jpg");
}